@CHARSET "UTF-8";
body
{
	font-family: "微软雅黑",Arial,Helvetica,sans-serif;
}
.layui-main {overflow:hidden;width:1140px;margin:0 auto;}
img{border:none;}
h1,h2,h3{margin:0;}
p{font-size:14px;margin:0 0 5px 0;line-height:22px;}
ul,li,dt,dd,ol{list-style:none;padding:0;margin:0}
.odd{background:#E8E8E8}
#page-top{background:#e8e8e8;border-bottom: 1px solid rgba(0, 0, 2, 0.1);border-top: 1px solid #FDFDFF;box-shadow: 0 1px 0 rgba(253, 253, 255, 0.5);margin-bottom:10px;}
#toolbar{clear: both;overflow:hidden;font-size: 12px;
    line-height: 24px;
    padding: 5px;text-shadow: 0 1px 0 #FDFDFF;}
#toolbar ul{float:right;color: #99999B;}
#toolbar ul li{float:left;padding:0 5px;}
#toolbar ul li a{color: #4C9FEB;padding-left:5px;}
#toolbar ul li a:hover{color:#FF7D4C}
.wrapper{width:980px;margin:0 auto;}
#login_reg{width:320px}
.header .layui-nav {
}
.grid_content {padding:10px;overflow: hidden;}
.footer {margin:10px 0;}
.footer p{text-align:center;}
#cont_login,#cont_reg{height:475px;}
#login2,#reg2{background-color: #EAEAEA;height:94px;}
#login,#reg,#login2,#reg2{padding:10px;}
#login,#reg{height:340px;}
#login_reg label{display:block;}
#login_reg li{padding:10px 0 10px 20px;}
.greybox {position:relative;border:1px solid #ccc;border-color:rgba(0, 0, 0, 0.1);border-bottom-color:rgba(0, 0, 0, 0.2);border-radius:5px;background:#f7f7f7;background:-webkit-linear-gradient(top, #f7f7f7 0%, #f4f4f4 100%);background:-moz-linear-gradient(top, #f7f7f7 0%, #f4f4f4 100%);background:-o-linear-gradient(top, #f7f7f7 0%, #f4f4f4 100%);background:-ms-linear-gradient(top, #f7f7f7 0%, #f4f4f4 100%);background:linear-gradient(top, #f7f7f7 0%, #f4f4f4 100%);background-clip:padding-box;box-shadow:inset 0px 1px 0 rgba(255, 255, 255, 1);text-shadow:0 1px 0 #fff;background:#f6f6f6}
.button{cursor:pointer;background:#59A8F3;border-color: #3990DB #3990DB #2F78B7;border-style: solid;    border-width: 1px;    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;    color: #FFFFFF;    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);border-radius: 4px 4px 4px 4px; display: inline-block;    font-size: 13px;    padding: 3px 9px;}
.button:hover{background:#3F96E5;}
.leftbar{width:180px;margin-right:10px;float:left;}
.leftbar,.content{float:left;}
.content table{margin-bottom:10px;}
.leftbar a{display:block;border-top: 1px solid #D1D1D1;padding: 7px 0 7px 22px;line-height:21px;box-shadow:0 1px 0 #FFFFFF inset;}
.leftbar .current a,.leftbar a:hover{background:#E8E8E8}
#board_main
{
	background:url('/images/board.png') 0 -3px no-repeat;
	height:583px;
	width:590px;
	padding-top:3px;
	user-select:none;
	-moz-user-select: none;
-webkit-user-select: none; 
}
.blank:hover
{
	height:35px;
	width:35px;
	border:1px solid #fff
}
.black
{
	background:url('/images/b.png') center center no-repeat;
	color:white;
}
.white
{
	background:url('/images/w.png') center center no-repeat;
}

.row
{
	height:37px;
	width:556px;
	margin-left:5px;
	overflow:hidden;
}
.row div
{
	font-family:Arial;
	height:37px;
	width:37px;
	float:left;
	line-height:37px;
	text-align:center;
	font-weight:bold;
	font-size:18px;
	cursor:pointer;
}
.controlbar{width: 550px;}
.controlbar button{margin-left:25px;}
.field {height:37px;line-height:37px;margin:10px 0;padding: 0 15px;}
#invite_submit_button {margin:10px auto; display: block}
#gameinfo li{padding:5px;border-top:1px solid #D1D1D1;overflow:hidden;}
#gameinfo span,#gameinfo ins{float:left;text-decoration:none;padding-left:10px;}
/*聊天*/
.chat_area{float:left;width:175px;overflow: hidden;}
#chat_content_list,#chat_operate_area{padding:10px 0 0 0;}
#chat_user_list {height:125px;overflow-y:auto;}
#chat_user_list ul li,#hall_games ul li{overflow: hidden;line-height: 25px;}
#chat_user_list .user_title,.hall_game_title{font-weight:bold;}
#chat_user_list .name_tag{font-weight:bold;cursor:pointer;}
#chat_operate_area{padding: 12px 8px;box-sizing: border-box;width: 100%;height: 140px;}
#chat_operate_area  .to-name{position: relative;display: inline-block;}
#chat_operate_area>div>span{vertical-align: middle;}
#chat_operate_area  .to-name>span{display: inline-block;width: 78px;height: 20px;border: 1px solid #5B545B;box-sizing: border-box;background-color: #463A42;vertical-align: middle;color: #FFFFFF;font-size: 12px;padding: 0 5px;overflow: hidden;white-space: nowrap;}
#chat_operate_area  .to-name a{width: 15px;display: inline-block;height: 20px;text-align:center;line-height: 16px;border: 1px solid #5B545B; border-left: none;box-sizing: border-box;vertical-align: middle;}
#chat_operate_area  .to-emjo{display: inline-block;}
#chat_operate_area  .to-emjo a{}
#chat_operate_area  .to-emjo a>i{display:block;height:24px;width:24px;background-image:url(http://static.live.xiguapi.tv/faces/qq_default/MRF_100000.gif);}
#chat_operate_area  .component-send{padding-bottom: 5px;}
#chat_operate_area  .component-send textarea{resize: none;height: 58px;width: 83.6%;border-radius: 4px 0 0 4px;box-sizing: border-box;border: 1px solid #51484f;background-color: #3a2e37;color: #FFFFFF;vertical-align: middle;padding: 0.42em 0.85em;overflow: hidden;transition:border 0.2s,background-color 0.2s;-webkit-transition:border 0.2s,background-color 0.2s; }
#chat_operate_area  .component-send textarea:hover,.custom-bar .custom-tab-oper .component-send textarea:focus{border: 1px solid #686066;background-color: #2f1c27;}
#chat_operate_area  .component-send a{width: 16.4%;line-height: 58px;display: inline-block;color: #FFFFFF;background-color:#59A8F3;border-radius: 0 4px 4px 0; vertical-align: middle;text-align: center;transition:background-color 0.3s;-webkit-transition:background-color 0.3s;font-size: 14px;}
#chat_operate_area  .component-send a:hover{background-color: #2F78B7;}
#face_pop {display: none;}
.face-pop {position: absolute; left: 0px;   top: 0px;  background: #fff none repeat scroll 0 0;  border: 1px solid rgba(0, 0, 0, 0);  border-radius: 4px;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);  height: 286px;  opacity: 0;  overflow: hidden;    transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;-webkit-transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;  width:100%;  z-index: 100;  }
.face-pop .face-default, .face-pop .face-vip, .face-pop .face-safe { overflow-y: auto;  padding: 8px 8px 0;  height: 240px;position: relative; }
.face-pop table {  width: 100%;  }
.face-pop .face-default img {  max-width: 20%;  vertical-align: middle;  margin-bottom: 5px;  }
.face-pop a {  text-align: center;  }
.face-pop .tab {  background: #f7f7f7 none repeat scroll 0 0;  bottom: 0;  height: 30px;  left: 0;  position: absolute;  width: 100%;  }
.face-pop .tab a.active {  background: #fff none repeat scroll 0 0;  }
.face-pop .tab a {  display: inline-block;  height: 20px;  padding: 5px 8px;  width: 45px;  vertical-align: middle;color: #a5a5a5;  }
.face-pop .face-content{height: 240px;overflow: hidden;}
/*大厅*/
#hall_games {min-height:650px;border-right:1px solid #ccc;}
#hall_games ul li {overflow: hidden;}
#chat_content_list {height:330px;overflow-x: hidden;overflow-y:auto;padding: 12px 8px;background: #f2f2f2}
#chat_content li{border-bottom: 1px solid #ddd;line-height: 25px;}
.game_pager{overflow:hidden;padding-left:220px;}
.game_pager li{float:left;}
.game_pager li a{border:1px solid #E0E0E0;border-bottom-color:#CDCDCD;
background:#f9f9f9;
background:-webkit-linear-gradient(top, #f9f9f9, #f7f7f7);
background:-moz-linear-gradient(top, #f9f9f9, #f7f7f7);
background:-o-linear-gradient(top, #f9f9f9, #f7f7f7);
background:linear-gradient(to bottom, #f9f9f9, #f7f7f7);
box-shadow:inset 0px 1px 0 rgba(255,255,255,1);
border-radius: 4px 4px 4px 4px;
display: inline-block;
height: 25px;
line-height: 25px;
margin-left: 5px;
min-width: 15px;
padding: 0 5px;
text-align:center;
}
.game_pager li a:hover{background:#F1F1F1;
background:-webkit-linear-gradient(top, #F1F1F1, #E7E7E7);
background:-moz-linear-gradient(top, #F1F1F1, #E7E7E7);
background:-o-linear-gradient(top, #F1F1F1, #E7E7E7);
background:linear-gradient(to bottom, #F1F1F1, #E7E7E7);
box-shadow:inset 0px 1px 0 rgba(255,255,255,0.2)}
.game_pager li.selected a{border:1px solid #D2D2D2;
background:#E7E7E7;
background:-webkit-linear-gradient(top, #E7E7E7, #F1F1F1);
background:-moz-linear-gradient(top, #E7E7E7, #F1F1F1);
background:-o-linear-gradient(top, #E7E7E7, #F1F1F1);
background:linear-gradient(to bottom, #E7E7E7, #F1F1F1);
box-shadow:inset 0px 1px 2px rgba(0,0,0,0.05),0 1px 0 #fff}
.content .waiting .status{color:#3DB94C}
.content .over .status{color:#333}
.content .playing .status{color:#ff3d4c}
#profile_ul li{padding:10px;overflow:hidden;}
#profile_ul label{width:160px;float:left;}
#profile_ul span{float:left;width:540px;}
#about_content{width:760px;padding:10px;}
#about_content p{text-indent:30px;}
.oppo_info li{padding:3px 6px;overflow:hidden;}
.oppo_info label{width:160px;float:left;font-weight:bold;}
.oppo_info span{float:left;}
.waiting .status{color:#3DB94C}
.search_bar ul{overflow:hidden;}
.search_bar ul li{width:244px;float:left;}

.about_content{padding:0 20px;}
.about_content h3{font-weight: bold;margin-top:15px;}
.about_content p{text-indent:2em;}